[Unit]
Description=Blocky Client App
 
[Service]
Type=simple
WorkingDirectory=/opt/blocky-client
ExecStart=/usr/local/bin/pipenv run python3 blocky-client.py
Restart=always

[Install]
WantedBy=multi-user.target
